## Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

    - list of languages in Data Science
    - libraries used in Data Science
    - examples of evaluating arithmetic expressions in python

# Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. SQL
4. Java
5. Scala
6. C++
7. JavaScript
8. Julia

# Some of the commonly used libraries used by Data Scientists include:

1.Pandas
2.Numpy
3.Scikit learn
4.Seaborn
5.Matplotlib

|Data Science Tools|
|-------------------|
|RStudio| 
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
a= 7+(2*5)
b= 8*(6+4)
print(a)
print(b)

17
80

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
min=200
hours=200/60
print(hours)

3.3333333333333335

## Author
Shreya R